Source: ros-melodic-health-metric-collector
Section: misc
Priority: extra
Maintainer: AWS RoboMaker <ros-contributions@amazon.com>
Build-Depends: debhelper (>= 9.0.0), google-mock, libgtest-dev, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-ros-monitoring-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-rostest, ros-melodic-std-msgs
Homepage: http://wiki.ros.org/health_metric_collector
Standards-Version: 3.9.2

Package: ros-melodic-health-metric-collector
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-aws-common, ros-melodic-aws-ros1-common, ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-ros-monitoring-msgs, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-std-msgs
Description: The health_metric_collector package
